<launch>
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="prefix" value="xterm -geometry 100x60+1280+0 -hold -e " />
  <arg if="$(arg debug)" name="prefix" value="xterm -e python -m pdb" />
  <arg name="verbose" default="false"/>
  <arg name="libraries_list" default="[]"/>
  <arg name="resource_list" default="[]"/>

  <node launch-prefix="$(arg prefix)" name="test_mgr" pkg="skiros2_resource" type="resource_manager_node" respawn="true">  
    <param name="verbose" value="$(arg verbose)" /> 
    <rosparam param = "libraries_list" subst_value="True">$(arg libraries_list)</rosparam>   
    <rosparam param = "resource_list" subst_value="True">$(arg resource_list)</rosparam> 
  </node>
</launch>
