<launch>
  <arg name="debug" default="false"/>
  <arg name="task_mgr_name" default="robot_tm"/>
  <arg unless="$(arg debug)" name="prefix" value="xterm -geometry 100x60+1280+0 -hold -e " />
  <arg if="$(arg debug)" name="prefix" value="xterm -e python -m pdb" />

  <node launch-prefix="$(arg prefix)" name="$(arg task_mgr_name)" pkg="skiros2_task" type="task_manager_node" respawn="true"> 
  </node>
</launch>
