<launch>
  <arg name="deploy" default="false"/>
  <arg name="verbose" default="false"/>
  <arg if="$(arg deploy)" name="term" value="" />
  <arg unless="$(arg deploy)" name="term" value="xterm -geometry 100x60+1280+0 -hold -e " />

  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="prefix" value="$(arg term)" />
  <arg if="$(arg debug)" name="prefix" value="xterm -e python -m pdb" />

  <node launch-prefix="$(arg prefix)" name="tm" pkg="skiros2_task" type="task_manager_node" respawn="true">
    <param name="verbose" value="$(arg verbose)" />
  </node>
</launch>
